Repository cornell-zhang/heterocl, pull requests merged in 2020-03, with the labels that each got.

#168 [Testing] Update test files according to the latest TVM
  hlib/tests/test_keras.py
  hlib/tests/test_numpy_func.py
Labels: Testing

#166 [API] Enable declarative code with hcl.def
  python/heterocl/dsl.py
  python/heterocl/tvm/build_module.py
  tests/test_dsl_def.py
  tvm/HalideIR/src/ir/IR.cpp
  tvm/HalideIR/src/ir/IR.h
  tvm/HalideIR/src/ir/IRMutator.cpp
  tvm/HalideIR/src/ir/IRPrinter.cpp
  tvm/HalideIR/src/ir/IRVisitor.cpp
  tvm/src/api/api_ir.cc
  tvm/src/codegen/codegen_c.cc
  tvm/src/codegen/hlsc/codegen_vhls.cc
  tvm/src/codegen/opencl/codegen_aocl.cc
  tvm/src/pass/ir_mutator.cc
  tvm/src/pass/storage_flatten.cc
  tvm/src/schedule/schedule_dataflow_rewrite.cc
Labels: API

#167 [API][v0.3] Data movement and streaming enhancement for heterogeneous devices
  python/heterocl/schedule.py
  python/heterocl/tvm/build_module.py
  python/heterocl/tvm/schedule.py
  tests/test_schedule_memory.py
  tests/test_schedule_stream.py
  tvm/HalideIR/src/ir/Expr.h
  tvm/HalideIR/src/ir/IR.cpp
  tvm/HalideIR/src/ir/IR.h
  tvm/HalideIR/src/ir/IRMutator.cpp
  tvm/HalideIR/src/ir/IRPrinter.cpp
  tvm/include/tvm/ir_pass.h
  tvm/include/tvm/schedule.h
  tvm/include/tvm/schedule_pass.h
  tvm/src/api/api_lang.cc
  tvm/src/api/api_schedule.cc
  tvm/src/pass/generate_reuse_buffer.cc
  tvm/src/pass/ir_mutator.cc
  tvm/src/pass/split_host_device.cc
  tvm/src/pass/storage_flatten.cc
  tvm/src/pass/stream_inference.cc
  tvm/src/schedule/schedule_dataflow_rewrite.cc
  tvm/src/schedule/schedule_reorder.cc
Labels: API, v0.3
